<% provide(:title, 'Home') %>
<h1>StaticPages#home</h1>
<p>Bacon ipsum dolor sit amet shoulder bresaola meatloaf, turducken short ribs sirloin kevin pork loin jowl ribeye tongue. Ground round shank boudin, pork pork chop frankfurter chicken doner shankle spare ribs brisket tri-tip pig tenderloin sirloin. Tri-tip chicken cow, turkey salami beef boudin shankle andouille. Salami short loin shankle hamburger ham hock capicola. Chicken ham fatback doner t-bone.</p>

<p>
Shankle boudin capicola chicken, spare ribs brisket filet mignon ground round. Cow doner kevin ground round tri-tip sausage. Capicola ball tip hamburger tongue prosciutto jerky pork loin fatback pork belly salami meatloaf bacon corned beef biltong. Chuck turducken flank doner, short loin fatback kielbasa kevin. Corned beef turkey boudin, tongue biltong doner pork pastrami rump t-bone pork chop capicola. Ground round fatback filet mignon ham hock short ribs.</p>

<p>
Shankle boudin capicola chicken, spare ribs brisket filet mignon ground round. Cow doner kevin ground round tri-tip sausage. Capicola ball tip hamburger tongue prosciutto jerky pork loin fatback pork belly salami meatloaf bacon corned beef biltong. Chuck turducken flank doner, short loin fatback kielbasa kevin. Corned beef turkey boudin, tongue biltong doner pork pastrami rump t-bone pork chop capicola. Ground round fatback filet mignon ham hock short ribs.</p>

<p>
Shankle boudin capicola chicken, spare ribs brisket filet mignon ground round. Cow doner kevin ground round tri-tip sausage. Capicola ball tip hamburger tongue prosciutto jerky pork loin fatback pork belly salami meatloaf bacon corned beef biltong. Chuck turducken flank doner, short loin fatback kielbasa kevin. Corned beef turkey boudin, tongue biltong doner pork pastrami rump t-bone pork chop capicola. Ground round fatback filet mignon ham hock short ribs.</p>
