<footer class="footer">
  <small> <span itemscope itemtype="http://schema.org/LocalBusiness">


    Created by <%= mail_to "dillonlara115@gmail.com", 'Dillon Lara', itemprop: "email" %> / <a href="tel:+15732569991"><span itemprop="telephone">573.256.9991</span></a> /
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">Columbia</span>,
      <span itemprop="addressRegion">MO<meta itemprop="postalCode" content="65203"></span>
    </span>
  </span>
  </small>
  <nav>
    <ul class="hi-icon-wrap">
      <li><%= link_to "", 'https://twitter.com/jaguarsharksays', class: 'fa fa-twitter fa-2x hi-icon', target: '_blank' %></li>
      <li><%= link_to "", 'https://www.facebook.com/dillon.lara', class: 'fa fa-facebook fa-2x hi-icon', target: '_blank' %></li>
      <li><%= link_to "", 'https://github.com/dillonlara115', class: 'fa fa-github fa-2x hi-icon', target: '_blank' %> </li>
    </ul>
  </nav>
</footer>
